body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    background-color: #1b1b1b;
    color: white;
    user-select: none;
}

main {
    display: flex;
    width: 300vw;
    height: 100vh;
    transition: 0.8s;

}

.nav-dots {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    z-index: 9;

    @media only screen and (min-width: 2500px) {
        gap: 20px;
    }

    @media only screen and (min-width: 3800px) {
        gap: 30px;
        bottom: 50px;
    }
}
.nav-dot {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    @media only screen and (min-width: 2500px) {
        width: 20px;
        height: 20px;
        border-radius: 90px;
    }

    @media only screen and (min-width: 3800px) {
        width: 30px;
        height: 30px;
        border-radius: 90px;
    }
}
.nav-dot.active {
    background-color: white;
    width: 24px;
    border-radius: 10px;
    transform: scale(1.2);

    @media only screen and (min-width: 2500px) {
        width: 40px;
        border-radius: 50px;
    }

    @media only screen and (min-width: 3800px) {
        width: 60px;
    }
}

.weapon-section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .dark-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.438);
        z-index: 2;
        // backdrop-filter: blur(2px);
    }
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;
        width: 100%;
        height: 15vh;

        transition: 1s;
        &:hover{
            transform: scale(1.1);
        }

        img{
            height: 50px;
            margin-top: 60px;
        }

        @media only screen and (min-width: 2500px) {
            font-size: 30px;
            img{
                height: 100px;
            }
        }

        @media only screen and (min-width: 3800px) {
            font-size: 40px;
            img{
                height: 130px;
            }
        }
    }

    .desc-container{
        display: flex;
        flex-direction: column;
        position: relative;
        background: #0000009f;
        width: 100%;
        height: 22vh;
        align-items: center;
        transition: 1s;
        backdrop-filter: blur(10px);
        &:hover{
            transform: scale(1.1);
        }

        .promo{
            display: none;
            position: absolute;
            top: -44px;
            background-color: rgba(255, 195, 65, 0.5);
            font-weight: 900;
            width: 100%;
            text-align: center;
            height: 20px;
            padding: 12px 0 12px 0;
            backdrop-filter: blur(10px);

            @media only screen and (min-width: 2500px) {
                top: -54px;
                height: 30px;
                padding: 12px 0 12px 0;
                font-size: 25px;
            }

            @media only screen and (min-width: 3800px) {
                top: -74px;
                height: 50px;
                padding: 12px 0 12px 0;
                font-size: 35px;
            }
        }

        .stats-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            gap: 10px;
            margin-top: 15px;

            .stat {
                padding: 0 30px 0 30px;
                display: flex;
                flex-direction: column;
                .stats-title{
                    font-weight: 700;
                    color: rgb(209 213 219);
                    text-transform: uppercase;
                }

                .stats-value{
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 30px;
                    margin-top: 0px;
                    display: flex;

                    img{
                        height: 40px;
                        margin-right: 5px;
                    }
                }
            }

            @media only screen and (min-width: 2500px) {
                .stat {
                    .stats-title{
                        font-size: 30px;
                    }

                    .stats-value{
                        font-size: 50px;

                        img{
                            height: 70px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            @media only screen and (min-width: 3800px) {
                .stat {
                    .stats-title{
                        font-size: 50px;
                    }

                    .stats-value{
                        font-size: 70px;

                        img{
                            height: 100px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.pickbar{
    display: flex;
    flex-direction: row;
    width: 190px;
    gap: 5px;
    margin-bottom: 10px;
    
    .green{
        width: 60px;
        border-radius: 10px;
        height: 10px;
        background-color: #2ecc71;
    }

    .yellow{
        width: 60px;
        border-radius: 10px;
        height: 10px;
        background-color: #f1c40f;
    }

    .red{
        width: 60px;
        border-radius: 10px;
        height: 10px;
        background-color: #e74c3c;
    }

    .gray{
        width: 60px;
        border-radius: 10px;
        height: 10px;
        background-color: rgba(61, 61, 61, 0.521);
    }

    @media only screen and (min-width: 2500px) {
        width: 390px;
        margin-bottom: 20px;
        gap: 10px;

        .green{
            width: 120px;
            height: 20px;
        }

        .yellow{
            width: 120px;
            height: 20px;
        }

        .red{
            width: 120px;
            height: 20px;
        }

        .gray{
            width: 120px;
            height: 20px;
        }
    }

    @media only screen and (min-width: 3800px) {
        width: 690px;
        margin-bottom: 40px;
        gap: 20px;

        .green{
            width: 220px;
            height: 40px;
            border-radius: 50px;
        }

        .yellow{
            width: 220px;
            height: 40px;
            border-radius: 50px;
        }

        .red{
            width: 220px;
            height: 40px;
            border-radius: 50px;
        }

        .gray{
            width: 220px;
            height: 40px;
            border-radius: 50px;
        }
    }
}

.canvas-container {
    width: 90vw;
    padding-left: 10vw;
    height: 63vh;
}
.weapon-canvas {
    width: 100%;
    height: 100%;
    cursor: grab;
}
.weapon-canvas:active {
    cursor: grabbing;
}

.text-shadow {
    text-shadow: 0px 0px 20px rgba(36, 36, 36, 0.897);
}

.hidder{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(43, 43, 43, 0.801);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;

    span {
        position: absolute;
        width: 300px;
        height: 100px;
        padding-top: 60px;
        top: calc(50% - 80px);
        left: calc(50% - 150px);
        text-align: center;
        z-index: 10;
    }
}

@media only screen and (max-width: 1000px) {
  .hidder {
    display: block;
  }
}

.end-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .goback{
        width: 20vw;
        height: 100vh;
        border: none;
        outline: none;
        opacity: 0.6;
        transition: 1s;
        background-color: transparent;
        z-index: 20;

        &:hover{
            opacity: 0.9;
            transform: scale(1.2);
        }

        img{  
            width: 50px
        }
    }

    .canvas-other{
        width: 25vw;
        margin-right: 10vw;
        height: 100vh;
        z-index: 20;
    }

    .others-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 40vw;
        margin-top: 7vh;
        margin-bottom: 3vh;
        margin-right: 5vw;
        height: 80vh;
        gap: 20px 20px;

        .others-elem{
            z-index: 20;
            background-color: #000000a6;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            position: relative;
            transition: 1s;
            overflow: hidden;

            &:hover{
                transform: scale(1.05);
            }

            img{
                height: 70px;
                width: 70px;
                object-fit: contain;
                position: absolute;
                left: 20px;
                top: calc(50% - 35px);
            }


            .name{
                position: absolute;
                font-weight: 800;
                font-size: 14px;
                text-transform: uppercase;
                left: 110px;
                color: rgb(209 213 219);
                top: 30px;
            }

            .price{
                position: absolute;
                font-weight: 800;
                font-size: 20px;
                text-transform: uppercase;
                left: 110px;
                top: 60px;
            }

            @media only screen and (min-width: 2500px) {
                img{
                    height: 120px;
                    width: 120px;
                    left: 30px;
                    top: calc(50% - 60px);
                }

                .name{
                    font-size: 24px;
                    left: 160px;
                    top: 50px;
                }

                .price{
                    font-size: 30px;
                    left: 160px;
                    top: 90px;
                }
                
                border-radius: 20px;
            }

            @media only screen and (min-width: 3800px) {
                img{
                    height: 190px;
                    width: 190px;
                    left: 50px;
                    top: calc(50% - 95px);
                }

                .name{
                    font-size: 40px;
                    left: 270px;
                    top: 90px;
                }

                .price{
                    font-size: 50px;
                    left: 270px;
                    top: 160px;
                }

                border-radius: 30px;
            }
        }

        .promo {
            border: 2px solid rgb(255, 195, 65);

            &::after{
                content: "PROMO";
                width: 100px;
                height: 25px;
                position: absolute;
                bottom: 0;
                border-radius: 10px 0px 0px 0px;
                text-align: center;
                padding-top: 5px;
                color: white;
                font-weight: 700;
                right: 0;
                background-color: rgb(255, 195, 65);
            }

            @media only screen and (min-width: 3800px) {
                &::after{
                    content: "PROMO";
                    width: 200px;
                    height: 50px;
                    font-size: 35px;
                }
            }
        }

    }
}

.promo-text{
    color: rgba(255, 195, 65);
    text-shadow: 0 0 15px rgba(255, 195, 65, 0.692);
}

.lock{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:#191919a9;
    backdrop-filter: blur(50px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;

    span {
        position: absolute;
        display: flex;
        justify-content: center;   /* horizontal */
        align-items: center;
        width: 500px;
        height: 200px;
        vertical-align: middle;
        font-weight: 100;
        font-size: 20px;
        color: rgb(209 213 219);
        top: calc(50% - 100px);
        left: calc(50% - 250px);
        text-align: center;
        z-index: 10;
    }

    &::after{
        content: "";
        width: 100%;
        height: 150px;
        background-color: rgba(0, 0, 0, 0.459);
        position: absolute;
        top: calc(50% - 75px);
        left: 0;
        z-index: 9;
    }
}